# Environment variables
*.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class 
.DS_Store
/01-Pic&Video/03-PicFix/图床链接
02-Doc&Md/使用说明-根据标点符号分段md文件.md
01-Pic&Video/02-Upload/旅游.txt
01-Pic&Video/使用说明-删除不含suffix的图片.md
